<div class="form-container" >
    <div class="row">
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Dispatch Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Company Name</b></label>
                                <div class="read_value">{{dispatch_company_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Location</b></label>
                                <div class="read_value">{{dispatch_location}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Pincode</b></label>
                                <div class="read_value">{{dispatch_pincode}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 1</b></label>
                                <div class="read_value">{{dispatch_address1}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 2</b></label>
                                <div class="read_value">{{dispatch_address2}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Shipto Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>GSTIN</b></label>
                                <div class="read_value">{{shippingto_gstin}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Legal Name</b></label>
                                <div class="read_value">{{shippingto_legal_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Trading Name</b></label>
                                <div class="read_value">{{shippingto_trade_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Location</b></label>
                                <div class="read_value">{{shippingto_location}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Pincode</b></label>
                                <div class="read_value">{{shippingto_pincode}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Email</b></label>
                                <div class="read_value">ashok_grnadhi@tecnics.com</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 1</b></label>
                                <div class="read_value">{{shippingto_address1}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 2</b></label>
                                <div class="read_value">{{shippingto_address2}}</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>