<div class="form-container" >
    <div class="row">
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Supplier Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>GSTIN</b></label>
                                <div class="read_value">{{supplier_gstin}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Legal Name</b></label>
                                <div class="read_value">{{supplier_legal_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Trading Name</b></label>
                                <div class="read_value">{{supplier_trading_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Location</b></label>
                                <div class="read_value">{{supplier_location}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Pincode</b></label>
                                <div class="read_value">{{supplier_pincode}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Email</b></label>
                                <div class="read_value">{{supplier_email}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 1</b></label>
                                <div class="read_value">{{supplier_address1}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 2</b></label>
                                <div class="read_value">{{supplier_address2}}</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Customer Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>GSTIN</b></label>
                                <div class="read_value">{{billing_gstin}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Legal Name</b></label>
                                <div class="read_value">{{billing_legal_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Trading Name</b></label>
                                <div class="read_value">{{billing_trade_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Location</b></label>
                                <div class="read_value">{{billing_location}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Pincode</b></label>
                                <div class="read_value">{{billing_pincode}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Email</b></label>
                                <div class="read_value">{{billing_email}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 1</b></label>
                                <div class="read_value">{{billing_address1}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Address 2</b></label>
                                <div class="read_value">{{billing_address2}}</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>