<mat-drawer #theming mode="side" position="end" class="mat-elevation-z2" [opened]="loading">
<div class="outer_container">
    <div class=" header_label">
                <label class="header_theme">
                    Theme Customization</label>
                <button (click)="theming.toggle()" class="close_button">
                    <fa-icon [icon]="faTimes"></fa-icon>
    
                </button>
            </div> 


        <div class="color_container">
             <div class="header">
            <button    class="color" style="background-color:rgb(67, 160, 71);" (click)="setmenutheme('theme-default-dark.css')">
            </button>

                <button class="header_theme" (click)="setmenutheme('theme-default-dark.css')">Green Theme</button>

        </div>
        <div class="header">
            <button class="color" style="background-color: #3c8dbc;" (click)="setmenutheme('theme-default.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-default.css')">Blue Theme</button>

        </div>
        <div class="header">

            <button class="color" style="background-color: #6A1B9A;" (click)="setmenutheme('theme-purple.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-purple.css')">Purple Theme</button>

        </div>
        <div class="header">
            <button class="color" style="background-color: #AD1457;" (click)="setmenutheme('theme-pink.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-pink.css')" >Red Theme</button>

        </div>
        <div class="header">

            <button class="color" style="background-color: #34495e;" (click)="setmenutheme('theme-red.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-red.css')">Dark Blue Theme</button>

        </div>
        <div class="header">

            <button class="color" style="background-color: #30336b;" (click)="setmenutheme('theme-indigo.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-indigo.css')">Indigo Theme</button>

        </div>
        <div class="header">
            <button class="color" style="background-color: #006266;" (click)="setmenutheme('theme-darkcyan.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-darkcyan.css')">Dark Cyan Theme</button>

        </div>
        <div class="header">

            <button class="color" style="background-color: #00b894;" (click)="setmenutheme('theme-cyan.css')"></button>
            <button class="header_theme" (click)="setmenutheme('theme-cyan.css')">Cyan Theme</button>

        </div>
    </div>
</div>

</mat-drawer>
<!-- <button mat-raised-button color="primary"
        (click)="theming.toggle()" class="theming_button">
        <fa-icon [icon]="faCog"></fa-icon>

    </button> -->
