.borderTopBox {
    border-radius: 5px;
    margin-top: 8px;
    padding-left: 18px;
    padding-right: 18px;
}
.boxHeading {
    border-bottom: 1px solid #ccc;
    color: var(--primary) !important;
    padding: 10px 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
}
.boxHeading label{
    color: #000;
    font-weight: 400;
}
.borderTopBoxBody {
    padding-bottom: 10px;
    padding-top: 10px;

    width: 100%;
}
.form-group {
    margin-bottom: 8px !important;
}
.row.slide_pref{
    background-color: red !important;
}
.label_pre{
    width: 40%;
    
}
.i_icon{
    font-size: 17px;
    color: var(--primary);
    margin-left: 3px;
}
.row.slide_pref{
    background-color: red !important;
}
