.icon{
    margin-top: 3px;
}
.heading{
    border-bottom: 1px solid #e2e5e9;
}

.error{
    height: 100%;
    /* top: 50%; */
    padding-top: 34%;
    /* position: absolute; */
    color: red;
}
.error p{
    text-align: center;
}