<div *ngIf="!error">
    <div class="heading d-flex justify-content-between">
        <div class="d-flex">
            <mat-icon class="icon" (click)="closesidenav()">chevron_left</mat-icon>
            <h2 class="ps-3 mb-0 ">Supplier Details</h2>
        </div>
        <div>
            <mat-icon>edit</mat-icon>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="General" class="mat-tab-labels">       
                <app-supplier-deatils-general></app-supplier-deatils-general>
            </mat-tab>
            <mat-tab label="Audit">
               <app-supplier-deatils-audit></app-supplier-deatils-audit>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div *ngIf="error" style="height: 100%;">
    <div class="error" style="height: 100%;"> 
      <p>No Mappings Avaliable</p>
    </div>
    
  </div>