.Additional_Details .heading{
    margin-left: 5px;
    margin-bottom: 10px;
    color:var(--primary);
    font-weight: bold;
    font-size: 16px;
}
.Additional_Details .form-inline p{
    margin-bottom: 0px;
}
.Additional_Details .form-inline{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.Additional_Details .form-inline label{
    white-space: nowrap;
    margin-right: 3px;
}
.Additional_Details .form-inline label span{
    float: right;
}
.Additional_Details .form-inline label.w-120{
    min-width: 120px;
    margin-right: 20px;
}
.Additional_Details .profile_pic img{
    border-radius: 50%;
    width: 128px;
    height: 128px;
}
.profile_pic{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
}
.profile_pic .action_btn{
    position: absolute;
    background: #00000073;
    width: 100%;
    text-align: center;
    top: 70%;
    bottom: 0;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.upload-box{
    width: 93px;
    display: none;
}
.remove_btn{
    background-color: rgb(99 99 99 / 10%);
    color: #e44e45;
}
.edit_btn{
    position: absolute;
    right: 15px;
    
}
.modal-title{
    font-weight: 500;
}
input.gstNum1 {

    border: none;
    padding: 0;
    width: 23.5ch;
    background: repeating-linear-gradient( 
    90deg
 , #cd1a31 0, #cd1a31 1ch, transparent 0, transparent 1.5ch) 0 100%/22ch 1px no-repeat;
    font: 3ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    height: 21px;
    margin-top: 15px;
    color: dodgerblue !important;
    margin-left: 21px;
}
input.gstNum1:focus {
    outline: none;
}
.borderTopBox {
    border-radius: 5px;
    margin-top: 8px;
    padding-left: 18px;
    padding-right: 18px;
}
.boxHeading {
    border-bottom: 1px solid #ccc;
    color: var(--primary) !important;
    padding: 10px 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
}
.boxHeading label{
    color: #000;
    font-weight: 400;
}
.borderTopBoxBody {
    padding-bottom: 10px;
    padding-top: 10px;

    width: 100%;
}
.add-secondary{
    float: right;
    margin-top: -9px;
}
.circle:hover{
    color: #008ecc;
}
.mat-menu-item{
    font-size: 0.74rem;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
}
.mat-progress-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}