<div class="form-container" >
    <div class="row">
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Eway Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Transport Id</b></label>
                                <div class="read_value">78789</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Transport Name</b></label>
                                <div class="read_value">Tata</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Mode</b></label>
                                <div class="read_value">road</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Distance</b></label>
                                <div class="read_value">1000 km</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Doc Number</b></label>
                                <div class="read_value">00900</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Vechile Number</b></label>
                                <div class="read_value">87978</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Vechile Type</b></label>
                                <div class="read_value">null</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Doc Type</b></label>
                                <div class="read_value">null</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>