<div [style.display]="'flex'" >
    <div [style.width]="'50%'">
        <!-- <h1 class="text-center" >Account Activation</h1> -->
        <!-- <div class="activation" [style.height]="'50%'"></div> -->
    </div>
    <div [style.width]="'50%'" [style.height]="'50%'" class="pass">
        <h1 class="text-center" style="font-size: 26px;" >Account Activation</h1>
        <p style="font-size: 18px;">To get started, please activate your account.</p>
        <form [formGroup]="Additional_Details" (ngSubmit)="submit()">
        <label>Username</label><br> 
        <mat-form-field appearance="outline" [style.width]="'520px'">
            
            <input matInput formControlName="userName" (ngModelChange)="onChange()" placeholder="Create Username to login into myinkreta.com">
            
        </mat-form-field>
        <!-- <div class="form-group col-sm-10">
            <label>Username</label>
            <input formControlName="userName" class="form-control" (ngModelChange)="onChange()" placeholder="Create Username to login into myinkreta.com">
        </div> -->
        <div [hidden]="isdisable">
            <!-- <mat-error>the user you entered is already there you can use </mat-error> -->
            <mat-error>The user name you have entered is already in use. </mat-error>
        <!-- <div  [style.overflow]="'auto'" [style.width]="'377px'" [style.height]="'38px'"  >
            <span *ngFor="let x of suggesteduserName;index as i">{{x+","}}<span *ngIf="suggesteduserName.length == 3"><br></span></span>
        </div> -->
    </div>
        <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)">
            <div  *ngIf="f.userName.errors?.required">
                <mat-error>UserName is required</mat-error>
            </div>
            <mat-error *ngIf="f.userName.errors?.forbiddenName && !f.userName.errors?.required">
                UserName invalid
            </mat-error>
        </div>
        <br>
        <div style="display: flex;">
            <div>
                <label>New Password</label><br>
                <mat-form-field appearance="outline" [style.width]="'259px'">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <!-- <label>New Password</label>
                <div class="form-group input-group col-sm-10">
                    
                    <input class="form-control" [type]="hide ? 'password' : 'text'" formControlName="Password">
                    <div class="input-group-append">
                    <button class="btn " mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </div>
                </div> -->
            
            </div>
            <div>
                <label style="margin-left: 8px;">Confirm Password</label><br>
                <mat-form-field appearance="outline" [style.width]="'259px'" style="margin-left: 8px;">
                    <input matInput [type]="hide1 ? 'password' : 'text'"  formControlName="dty"  >
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                
                <br>
            </div>

        </div>
        <div>
            <div *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
                <div  *ngIf="f.Password.errors?.required">
                    <mat-error>Password is required</mat-error>
                </div>
                <mat-error *ngIf="f.Password.errors?.forbiddenName">
                    Password must contains 6 to 12 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
                </mat-error>
            </div>
            <div class="req" *ngIf="Additional_Details.errors?.misMatch && (Additional_Details.touched || Additional_Details.dirty)" >
                <mat-error> cannot match Password</mat-error>
            </div>
            <div class="req" *ngIf="f.Password.value!=='' && f.dty.value!=='' && f.Password.value === f.dty.value" >
                <p style="color: green;"> Password matched please submit</p>
            </div>
        </div>
        <p style="color: green;">{{mess}}</p>
        <!-- <label>New Password</label><br>
        <mat-form-field appearance="outline" [style.width]="'346px'">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <div *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
            <div  *ngIf="f.Password.errors?.required">
                <mat-error>Password is required</mat-error>
            </div>
            <mat-error *ngIf="f.Password.errors?.forbiddenName">
                Password must contains 6 to 12 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
            </mat-error>
        </div> -->
    
        <br>
        <!-- <label>Confirm Password</label><br>
        <mat-form-field appearance="outline" [style.width]="'346px'">
            <input matInput [type]="hide1 ? 'password' : 'text'"  formControlName="dty"  >
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <div class="req" *ngIf="Additional_Details.errors?.misMatch && (Additional_Details.touched || Additional_Details.dirty)" >
            <mat-error> cannot match Password</mat-error>
        </div>
        <br> -->
        <!-- <button mat-raised-button color="primary" style="margin-left: 441px;"  >Submit</button> -->
        <div class="step_buttons">
            <button type="submit" mat-raised-button color="primary"  [disabled]="!( !succstatus && isdisable && f.userName.valid &&  f.Password.valid && f.dty.valid && !Additional_Details.errors?.misMatch)">Submit</button>
        </div>
    </form>
    </div>
</div>