<form [formGroup]="Additional_Details">
<div class='addit'>
    
      <div class="row">
        <div class="col-md-6">
          <div class="borderTopBox">
            <div class="boxHeading">Additional Company Information</div>
            <div class="borderTopBoxBody contactInfo">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Line Of Business<span style='color: red'>*</span></label>
                    <select class='form-select' formControlName="lineOfBusiness">
                        <option value=null>Select</option>
                        <!-- <option value="Manufacturer">Manufacturer</option>
                        <option value="Trader">Trader</option>
                        <option value="Service Provider">Service Provider</option>
                        <option value="Others">Others</option> -->
                        <option *ngFor="let x of lineOfBusiness" value={{x}}>{{x}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Incorporation Year<span style='color: red'>*</span></label>
                    <select class='form-select' formControlName="incorporationYear" id="dropdownYear">
                        <option value="01/07/2017">Select</option>
                        <option *ngFor="let x of Year" value="{{x}}">{{x}}</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">

                    <label>Company TurnOver<span style='color: red'>*</span></label>
                    <select class='form-select' formControlName="annualTurnover">
                        <option value=null>Select</option>
                        <!-- <option value="<50 Cr">less 50Cr</option>
                        <option value="50 Cr – 100 Cr">50 Cr - 100 Cr</option>
                        <option value="100 Cr – 500 Cr">100 Cr - 500 Cr</option>
                        <option value=">500 Cr">>500 Cr"</option> -->
                        <option *ngFor="let x of annualTurnOver" value={{x}}>{{x}}</option>}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">

                    <label>Company Size<span style='color: red'>*</span></label>
                    <select class='form-select' formControlName="companySize">
                        <option value=null>Select</option>
                        <option *ngFor="let x of companySize" value={{x}}>{{x}}</option>
                        <!-- <option value="<10 Employees">less 10 Employees</option>
                        <option value="10 - 50 Employees">10 - 50 Employees</option>
                          <option value="50 – 100 Employees">50 – 100 Employees'</option>
                          <option value=">100 Employees">>100 Employees</option> -->
                    </select>
                  </div>
                </div>
              </div>
                <div class="row">

                    <div class="col-sm-6">
                      <div class="form-group">
    
                        <div class="mb-3">
                          <label class="pop_label">Company Details</label>
                          <textarea maxLength="250"  formControlName="companyDetail" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="mb-3">
                          <label class="pop_label" >Key Product Category<span style='color: red'>*</span></label>
                          <textarea maxLength="250" name='keyProductCategories' class="form-control" formControlName="keyProductCategories" rows="3" required={true}></textarea>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="pop_label">Industries Serviced<span style='color: red'>*</span></label>
                        <button tabIndex={-1} class='btn-popover multiselect_sibling' type="button"
                          data-toggle="tooltip" data-placement="top">
                          <mat-icon style="font-size: 21px !important;color: #1a8fcd;"  class='material-icons-outlined i_icon' variant='outlined' color='primary'>info
                          </mat-icon>
                          <div class="pop_box" style='width:200px'>Tell us industries you Supply to. You can choose
                            from drop down menu. If the industry is not listed, you can add it to the box next to
                            drop-down
                          </div>
                        </button>
                        <div class="mat-chip-test">
                        <mat-select formControlName="industriesServiced"  multiple [style.width]="'305px'" style="height: 36px;" [style.borderBottom]="'1px solid #ccc'">
                            <mat-select-trigger>
                              <div class="scrolling-wrapper" style="height: 53px;">
                                <mat-chip-list style="flex: 0 0 auto;">
                                    <mat-chip *ngFor="let topping of f.industriesServiced.value" >
                                    {{ topping }}
                                    </mat-chip>
                                </mat-chip-list>
                              </div>
                            </mat-select-trigger>
                            <!-- <mat-option value="">Select</mat-option> -->
                            <mat-option *ngFor="let topping of toppingList" [value]="topping" style="display: flex;">
                                {{topping}}
                            </mat-option>
                            
                        </mat-select>
                       </div>
                      </div>
                    </div>
                    <div class="col-sm-6" >
                      <div class="form-group" >
                        <!-- <label class="pop_label">&nbsp;</label>
                        <input class='form-control' formControlName="industriesServicedAddmore" style="margin-left: '37px'" matInput placeholder='add more industries' /> -->
                        <div style="display: flex;">
                          <div>
                            <label class="pop_label">Add more Industries</label>
                            <input class='form-control' formControlName="industriesServicedAddmore" style="width: 236px;" />
                          </div>
                          <div>
                            <button mat-raised-button (click)="addservice()" style="margin-top: 21px;">Add</button>
                          </div>
                        </div>
                        <p style="color: #00a65a;font-size: 12px;">{{mess}}</p>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
            <div class="col-md-6">
                <div class="">
                  <div class="borderTopBox" style="height: 395px;">
                    <div class="boxHeading">Other information</div>
                    <div class="borderTopBoxBody contactInfo additional-contactInfo">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
      
                            <label>Stanard Payment Terms<span style='color: red'>*</span></label>
                            <select class='form-select' formControlName="standardPaymentTerms">
                                <option value=null>Select</option>
                                <option *ngFor="let x of standardPaymentTerms" value={{x}}>{{x}}</option>}
                                <!-- <option value="Net 7">Net 7</option>
                                <option value="Net 10">Net 10</option>
                                <option value="Net 30">Net 30</option>
                                <option value="Net 60">Net 60</option>
                                <option value="Net 90">Net 90</option>
                                <option value="Due on Receipt">Due on Receipt</option>
                                <option value="End of Month">End of Month</option> -->
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
      
                            <label>Reporting Currency<span style='color: red'>*</span></label>
                            <select class='form-select' formControlName="reportingCurrency">
                                <option value=null>Select</option>
                                <option *ngFor="let x of reportingCurrency" value={{x}}>{{x}}</option>}
                                <!-- <option value="INR">INR</option>
                                <option value="EUR">EUR</option>
                                <option value="JPY">JPY</option>
                                <option value="GBP">GBP</option>
                                <option value="CHF">CHF</option>
                                <option value="CAD">CAD</option>
                                <option value="AUD">AUD</option> -->
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
      
                            <label>Company Website</label>
                            <input type="text" class='form-control' formControlName="companyWebsite"
                              placeholder='https://www.myinkreta.com' />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Average Daily Invoices</label>
                            <select class='form-select' formControlName="averageDailyInvoices">
                                <option value=null>Select</option>
                                <option *ngFor="let x of averageDailyInvoices" value={{x}}>{{x}}</option>}
                                <!-- <option value="Less than 100">Less than 100</option>
                                <option value="100 – 500">100 – 500</option>
                                <option value="More than 1000">More than 1000</option> -->
                            </select>
                          </div>
      
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
      
                            <label class="pop_label">purchase email id</label>
                            <input class='form-control' formControlName="salesEnquiryEmailId" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
      
                            <label class="pop_label">MSME Registered</label>
                            <select class='form-select' formControlName="msmeRegistered">
                              <option value=null>Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="f.msmeRegistered.value == 'yes'">
                          <div class="form-group">
      
                            <label class="pop_label">MSME Category</label>
                            <select class='form-select' formControlName="msmeCategories">
                                <option value=null>Select</option>
                                <!-- <option value="Micro">Micro</option>
                                <option value="Small">Small</option>
                                <option value="Medium">Medium</option> -->
                                <option *ngFor="let x of msmeCategories" value={{x}}>{{x}}</option>}
                            </select>
                          
                        </div>
                      </div>
                      </div>
                      <div class='row' style= "border-top: 1px solid #c0bebe ;padding-top: 7px;">
                        <!-- <div className='col-md-12'> -->
                          <!-- <h1 style=" margin-top: 0; margin-bottom: 0;"></h1> -->
                          <div class="col-sm-6" >
                            <h1 style=" margin-top: 0; margin-bottom: 0;"></h1>
                            <div class="form-group">
                              <label class="pop_label">Become Inkreta Verified Customer</label>
                              <!-- <button  className='btn-popover' type="button" data-toggle="tooltip" data-placement="top" >
                                <InfoOutlinedIcon color="primary" className='i_icon' />
                                <div className="pop_box">Just upload the GST registration certificate and enjoy InKreta verified stamp on your Invoices</div>
                              </button> -->
                              <button tabIndex={-1} class='btn-popover multiselect_sibling' type="button"
                                data-toggle="tooltip" data-placement="top">
                                <mat-icon style="font-size: 21px !important;color: #1a8fcd;" class='material-icons-outlined i_icon' variant='outlined' color='primary'>info
                                </mat-icon>
                                <div class="pop_box" >Just upload the GST registration certificate and enjoy InKreta verified stamp on your Invoices
                                </div>
                              </button>
                              <br> 
                              <div style="display: flex;">
                              <mat-checkbox class="example-margin"  formControlName="becomeInkreta" style="margin-top: 8px;"></mat-checkbox>&nbsp;
                              <p style="font-size: 12px;margin-top: 8px;">Yes, I want to enroll as Inkreta Verified Customer for added customer trust</p>
                             </div>
                            </div>
                          </div>
                          <!-- ngif -->
                          <div class="col-sm-6">
                            <div class="form-group" *ngIf="f.becomeInkreta.value == true">
                              <label class="pop_label" style=" margin-bottom: 10; ">Upload the GST Certificate<span style=" color: red">*</span></label>
                              <input type="file" placeholder="select" class="upload-box" style="margin-top: 8px;"/>
                            </div>
                            <!-- else -->
                            <p style="font-size: 12px; color: #008ecc"  *ngIf="f.becomeInkreta.value == false"><b>You can also choose to become Inkreta Verified Customer later from your profile section when you login to myinkreta.com</b></p>
                            <!-- </div> -->
                          </div>
                        </div>
           
                      <!-- <div class='row'>
                        <div class='col-md-12'>
                          <hr style="margin-top: 0">
                          <div style="display: flex;">
                          <div class="col-sm-6" >
                            <div class="form-group">
                              <label class="pop_label">Become Inkreta Verified Customer</label>
                              <button tabIndex={-1} class='btn-popover' type="button" data-toggle="tooltip"
                                data-placement="top">
                                <div class="pop_box">Just upload the GST registration certificate and enjoy InKreta
                                  verified
                                  stamp on your Invoices</div>
                              </button>
                              <mat-checkbox class="example-margin" formControlName="becomeInkreta"></mat-checkbox>
                            </div>
                          </div>
                            <div class="col-sm-6" *ngIf="f.becomeInkreta.value == true">
                                <div class="form-group">
                                    
                                    <input type="file" placeholder="select" class="upload-box" style="margin-left: 27px;"/>
                                </div>
                            </div>
                          </div>
                        </div> -->
                    <!-- </div> -->

                    <!-- 000000000000000000000000000000000000000 -->
                    
  


                
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</form>

            



        
    
