.invoice_slip span{
    line-height: 22px;
    font-size: 13px;
    font-style: italic;
    color: #565656;
}
.invoice_slip p{
    line-height: 22px;
    font-size: 13px;
    height: 10px;
    font-weight: bold;
}
.invoice_slip .table td{
    border-top: 1px solid #dadada;
    width: 50%;
    padding: 7px !important;
}
.user_status{
    padding: 3px 10px;
    position: relative;
    font-size: 14px;
    border-radius: 5px;
    color: none;

}
.user_status.active{
    /* background-color: #00a65a; */
    color: #00a65a !important;
    background: #d7ffea;
}
.user_status.onhold{
    /* background-color: #dd4b39; */
    color: #dd4b39 !important;
    background: #ffe8e5;
}

.user_status.Query{
    /* background-color: #dd4b39; */
    color: #ae891c !important;
    background: #ffe9a7;
}
.webviwer{
    width: 100%;
    height: 65vh;
    /* height: 142vh; */
}
.expand_icon{
    margin-left: 10px;
    padding-top: 3px;
    font-size: 22px !important;
    color: var(--primary);
}
.mat-progress-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.rowdata label span{
    float: right;
}
.rowdata label{
    min-width: 120px;
    margin-right: 20px;
}
.more{
    margin-top: 6px;
}
.row_data label{
    font-size: 10px;
    line-height: 9px;
    min-width: 120px;
    margin-right: 20px;
}
.row_data label span{
    float: right;
}
.row_data p{
    font-size: 10px;
    line-height: 9px;
}
.row_heading{
    font-size: 14px;
    
}
.block{
    padding: 5px;
    background-color: aliceblue;
}
.invoice_no{
    font-size: 16px;
    /* margin-top: 7px;
    margin-left: 12px; */
    color: var(--primary);
    font-weight: 550;
}


.box{
    border: 1px dashed #767676;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #454545;
}
.box span{
    font-size: 12px;
    /* font-style: italic; */
    color: #767676;
}
.inv_info{
    color: #767676;
    font-size: 12px;
    height: 33px;
}
.heading_total{
    /* border-bottom: 1px dashed #767676; */
    /* border-bottom: 1px dashed var(--primary); */
    margin-top: 20px;
}
.totals{
    float: right;
    /* border-top: 1px dashed var(--primary); */
    
}
.currency_icon{
    font-size: 12px;
    width: 8px;
    /* color: var(--primary); */
    margin-top: 4px;
    margin-right: 3px;
}
.inv_info p {
    width: 83px;
    margin-right: 6px;
}
.inv_info span {
    float: right;
    margin-right: 7px;
}
.totals p{
    margin-right: 6px;
    width: 142px;
}
.inv_info1{
    color: #767676;
    font-size: 12px;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr.table_heading th{
    background-color: #dddddd;
  }

  tr.table_heading td{
    color: #757575;
  }

  .inv_info p {
    color: #5a5a5a;
    font-weight: 600;
}
.inv_info label {
    color: #454545;
    width: 97px;
}

/* .inv_info  */
.inv_info1 span {
    float: right;
    margin-right: 3px;
}
.inv_info1 label {
    color: #454545;
    /* width: 148px; */
}
.inv_info1 p{
    color: #5a5a5a;
    font-weight: 600;
}

.inp span {
    float: right;
    margin-right: 3px;
}
.inp label {
    color: #454545;
    width: 148px;
}
.inp p{
    color: #5a5a5a;
    font-weight: 600;
}
.main{
    max-height: 447px;
}