<mat-drawer mode="side" #drawer3  class="side" [class.mat-elevation-z2]="true"       [opened]="opened1" >
    <div *ngFor="let item of childs" >

<div >
    <a routerLink="dashboard/default"  *ngIf="item.itemName==='Default'"  >
        <button (click)= "toggle()"  color= "primary">
            <div class="flex_div">
            <mat-icon svgIcon="dashboard"  color= "primary" aria-hidden="false" aria-label="Example"></mat-icon>
            
           <label class="flex_div" color= "primary"> {{item.itemName}}</label>
            </div>
        </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Historical Analysis'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon  svgIcon="Historical"  color= "primary" aria-hidden="false" aria-label="Example">
                    
                
    
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Recipient Mapping'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon svgIcon="Reciepient"  color= "primary" aria-hidden="false" aria-label="Example">
                    
                 
    
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Supplier Mapping'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon svgIcon="Supplier"  color= "primary" aria-hidden="false" aria-label="Example">
                 
    
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Users Management'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon  color= "primary" aria-hidden="false" aria-label="Example">
                    
                   
                    <span class="material-icons-outlined">
                        person_outline
                     </span>
    
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Profile Management'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon  color= "primary" aria-hidden="false" aria-label="Example">
                    
                   
                    <span class="material-icons-outlined">
                        people_outline
                        </span>
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
        <a routerLink={{item.itemRoute}}  *ngIf="item.itemName==='Chat'">
            <button (click)= "toggle()"  color= "primary">
                <div class="flex_div">
                <mat-icon  color= "primary" aria-hidden="false" aria-label="Example">
                    
                   
                    <span class="material-icons-outlined">
                        chat_bubble_outline
                        </span>
                </mat-icon>
                
               <label class="flex_div" color= "primary"> {{item.itemName}}</label>
                </div>
            </button>   
        </a>
      
    </div>

    </div>
</mat-drawer>