.modal-header{
    border-top: 4px solid var(--primary);
    border-right: 4px solid var(--primary);    
    border-left: 4px solid var(--primary);
    border-bottom: 1px solid #ccc !important;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}
.main_div{
    height: 29vh;
    width: 83vh;
}
.title{
    padding-bottom: 3px;
    padding-top: 27px;
    padding-left: 5px;
}
.action_btn{
    padding: 5px;
    background-color: #f1f1f1;
}
.fields{
    margin-bottom: 5px;
}
.fields label{
    width: 264px;
}
.fields span{
    float: right;
    margin-right: 5px;
}