<div class="borderTopBox">
    <div class="boxHeading row gx-0 align-items-end ">
        <div class="col-md-6 d-flex justify-content-between">
            GSTIN's 
        </div>

        <div class="col-md-6 text-right" *ngIf="!edit_othergstin">
            <button style="float: right;" class="btn btn_primary"  (click)="edit_table()">Add/Delete</button>
        </div>
        
        <form [formGroup]="GSTIN_" class="col-md-6 text-right" [hidden]="!edit_othergstin">
            <div class="d-flex justify-content-end align-items-end" >
                <!-- <span class="col-sm-4"></span> -->
                <label >Enter GSTIN : </label>&nbsp;
                <div>
                    <input maxlength='15' (ngModelChange)="gstin_input()" autoComplete="off" formControlName="gstin"  [class]="gstinerror ? 'gstNum' : 'gstNum1'" matInput />
                    
                        <ng-template #popContent><mat-error>{{errormess}}</mat-error></ng-template>
                        <button type="button" *ngIf="!gstinerror" class="btn-popover multiselect_sibling" placement="top"
                            [ngbPopover]="popContent">
                            <mat-icon style="font-size: 20px;color: red;margin-top: 13px;"  class='material-icons-outlined i_icon' variant='outlined' >info</mat-icon>
                        </button>
                </div>
                <button type="button" class=" btn btn_primary" (click)="add_gstin()" >Add</button>
            </div>
        </form>
 
    </div>
    <div class="borderTopBoxBody">
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 gstin_info">

                <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                  </ng-container> -->

                <ng-container matColumnDef="GSTIN">
                  <th mat-header-cell *matHeaderCellDef > GSTIN </th>
                  <td mat-cell *matCellDef="let element"> {{element.gstin}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Trade_Name">
                  <th mat-header-cell *matHeaderCellDef > TRADE Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.tradename}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef > Location </th>
                  <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
                </ng-container>

                <ng-container matColumnDef="NatureOfBusiness">
                  <th mat-header-cell *matHeaderCellDef style="min-width: 400px;"> Nature Of Business </th>
                  <td mat-cell *matCellDef="let element"> {{element.nba}} </td>
                </ng-container>
                <ng-container matColumnDef="delete" >
                    <th mat-header-cell *matHeaderCellDef >Delete</th>
                    <td mat-cell *matCellDef="let element; index as i"> 
                        <span >
                            <button  mat-button [class.circle]="!edit_othergstin" (click)="delete_gstin(i)" ><mat-icon>delete</mat-icon></button>
                        </span>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>
