<div class="form-container" >
    <div class="row">
        <div class="col-md-6">
            <div class="borderTopBox recform">
                <div class="boxHeading">Payment Details</div>
                <div class="box_content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Payee Name</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.payee_name}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Financial Account</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.payee_financial_account}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Mode of Payment</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.modeofpayment}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Location</b></label>
                                <div class="read_value">Hyderabad</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Branch Name</b></label>
                                <div class="read_value">Hyderabad</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Credit Transfer</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.credit_transfer}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Debit Transfer</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.credit_transfer}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Credit Days</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.creditdays}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Payed Due</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.payment_due}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Payed Amount</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.paid_amount}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Payment Terms</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.payment_terms}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="my_labels"><b>Payment Instruction</b></label>
                                <div class="read_value">{{invoicedetailsview.invoiceSellerPaymentDetails.payment_instruction}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>