<!-- <div class="outer_body">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink> Aging Analysis</a>
      <ng-template ngbNavContent>
        <div>
          <app-aginganalysis></app-aginganalysis>
          </div>
              
    
  </ng-template>
  </li>
  <li [ngbNavItem]="2">
  
    <a ngbNavLink> Invoice Due Analysis</a>
    <ng-template ngbNavContent>
        <div class="search">
        <div class="vendors">
        <select class="form-select" [(ngModel)]="vendors" placeholder="Select">

            <option value="DRL">DRL</option>
            <option value="Attra">Attra</option>
            <option value="tecnics">tecnics</option>
          </select>
        </div>
        <div class="vendors">
        <select class="form-select" placeholder="Select">
            <option >month</option>

            <option value="january">january</option>
            <option value="febraury">febraury  </option>
            <option value="march">march</option>
            <option value="april">april</option>
            <option value="may">may</option>
            <option value="june">june</option>
            <option value="july">july</option>
            <option value="august">august</option>
            <option value="september">september</option>
            <option value="october">october</option>
            <option value="november">november</option>
            <option value="december">december</option>
          </select>
        </div>
        <div class="vendors">
        <select class="form-select" placeholder="Select">
            <option >year</option>
            <option value="2020">2020</option>
            <option value="2021">2021  </option>
          </select>
        </div>
        </div>
        <app-horizontalbarchart [vendors]="vendors" (findByVendor)="findByVendor($event)"></app-horizontalbarchart>
        {{vendors}}
        <app-unpaidinvoices noofrows=3 [(filterbyVendor)]="vendors" ></app-unpaidinvoices>
  </ng-template>
  </li>
  <li [ngbNavItem]="3">
  
    <a ngbNavLink> Invoice Paid Analysis</a>
    <ng-template ngbNavContent>
        <div>
            <app-paidanalysis></app-paidanalysis>           
            </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
  
    <a ngbNavLink> Invoice Dispute Analysis</a>
    <ng-template ngbNavContent>
      <app-disputeanalysis></app-disputeanalysis>
    </ng-template>
  </li>

</ul>
  

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div> -->


<div class="main">
  <div class="main_block">
      <div class="block1">
          
          <div class="icon">
              <fa-icon [icon]="faFileAlt"></fa-icon>
          </div>
          <div style="margin-left: 78px;margin-top: 11px;">
              <!-- <app-ng2area areacolor="#00b8941a"></app-ng2area> -->
            
              <div style="margin-top: 0px;">
                  <span class="cart_title" >Paid Invoices</span>
              </div>
              <div style="margin-top: 12px;">
                  <span style="color: var(--primary);font-size: 21px;">45,89,990</span>
              </div>
              <div style="float: right;">
                  <span class="invoice_number">223 invoice(s)</span>
              </div>

          </div>
      </div>
      <div class="block6">
          <div class="icon">
              <fa-icon [icon]="faHistory"></fa-icon>
          </div>
          <div style="margin-left: 78px;margin-top: 11px;">
              <!-- <app-ng2area areacolor="#00c0ef1a"></app-ng2area> -->
              <div style="margin-top: 0px;">
                  <span class="cart_title">Invoices Overdue</span>
              </div>
              <div style="margin-top: 12px;">
                  <span style="color: var(--primary);font-size: 21px;">25,45,655</span>
              </div>
              <div style="float: right;">
                  <span class="invoice_number">99 invoice(s)</span>
              </div>


          </div>
      </div>
      <!-- <div class="block2">
                <div class="icon">
                    <fa-icon [icon]="faPalette"></fa-icon>
                </div>
                <div class="content">
                    <span class="cart_title">Pending Invoices</span>
                    <h1>8000</h1>
                </div>    
            </div> -->
      <div class="block3">
          <div class="icon">
              <fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
          </div>
          <div style="margin-left: 78px;margin-top: 11px;">
              <!-- <app-ng2area areacolor="#f1f3854d"></app-ng2area> -->

              <div style="margin-top: 0px;">
                  <span class="cart_title">Late 31-60 days</span>
              </div>
              <div style="margin-top: 12px;">
                  <span style="color: var(--primary);font-size: 21px;">12,45,655</span>
              </div>
              <div style="float: right;">
                  <span class="invoice_number">45 invoice(s)</span>
              </div>

          </div>

      </div>
      <div class="block4">
          <div class="icon">
              <fa-icon [icon]="faDraftingCompass"></fa-icon>
          </div>
          <div style="margin-left: 78px;margin-top: 11px;">
              <!-- <app-ng2area areacolor="rgba(254,188,59,0.1)"></app-ng2area> -->

              <div style="margin-top: 0px;">
                  <span class="cart_title">Late 61-90 days</span>
              </div>
              <div style="margin-top: 12px;">
                  <span style="color: var(--primary);font-size: 21px;">5,45,655</span>
              </div>
              <div style="float: right;">
                  <span class="invoice_number">32 invoice(s)</span>
              </div>
          </div>
      </div>
      <div class="block5">
          <div class="icon">
              <fa-icon [icon]="faFileContract"></fa-icon>
          </div>
          <div style="margin-left: 78px;margin-top: 11px;">
              <!-- <app-ng2area areacolor="rgba(254,188,59,0.1)"></app-ng2area> -->
              <div style="margin-top: 0px;">
                  <span class="cart_title">Late >120 days</span>
              </div>
              <div style="margin-top: 12px;">
                  <span style="color: var(--primary);font-size: 21px;">19,45,655</span>
              </div>
              <div style="float: right;">
                  <span class="invoice_number">12 invoice(s)</span>
              </div>
          </div>
      </div>


  </div>
  <div class=" d-flex">
      <div class="card col-md-9 " style="width: fit-content;">
          <div class="card-body dashboard_items">
              <div>
                  <span style="font-weight: 600">Outstanding Amount By Month</span>

                  <div class="vendors float-end">
                      <select class="form-select" [(ngModel)]="vendors" placeholder="Select Company" >
                          <option value="DRL">DRL</option>
                          <option value="Attra">Attra</option>
                          <option value="tecnics">tecnics</option>
                      </select>
                  </div> 

              </div>

              <app-maindashboard  [vendors]="vendors" class="float-start"></app-maindashboard>

          </div>
      </div>
      
        <!-- <div #drawer class="card ms-2" style="width: fit-content;">
          <div class="card-body dashboard_items">
hii
                                        
          </div>
      </div> -->
        <div #drawer class=" ms-2" >
          <div class=" dashboard_items ">
            <div class= " card closed">
                 <div style="margin-top: 20px;">
                    <label>Closed Invoices Percentage</label><br/>
                    <div class="value"> <label >96%</label></div>
                    
                 </div>       
                <div class="mt-2"> 
                    <label>Average Number of Days before Payment </label><br/>
                    <div class="value"> <label >30</label> <label style="font-size: 12px;">days</label></div>

                </div>
                <div class="mt-2">
                    <label>Average Number of delayed Days before final Payment </label><br/>
                    <div class="value"> <label >60</label><label style="font-size: 12px;">days</label></div>
                </div>
              



                <!-- <app-ng2area areacolor="#00c0ef1a"></app-ng2area> -->

            </div>
             <div class="mt-2 card ">
                <label style="    margin-top: 20px;
                margin-left: 20px;">Average paid invoices by week </label>
                <app-ng2area areacolor="#00c0ef1a"></app-ng2area>

            </div>

            <!-- <app-bar></app-bar> -->
              
          </div>
      </div>
      
     
  </div>
<div class="col d-flex">
  <div class="card " style="width: fit-content;">
          <div class="card-body dashboard_items">
              <div>
                  <span style="font-weight: 600">Status / Outstanding Amount</span>



              </div>

              <app-ng2pie></app-ng2pie>
          </div>
      </div>
      <div class="card ms-2 " style="width: fit-content;">
          <div class="card-body dashboard_items">
              <div>
                  <span style="font-weight: 600">Vendor / Outstanding Amount</span>

        

              </div>

              <app-ng2horizontal></app-ng2horizontal>
          </div>
      </div>
      <div class="card ms-2 " style="width: fit-content;">
          <div class="card-body dashboard_items">
              <div>
                  <span style="font-weight: 600">Status /  Number of Invoices</span>

        

              </div>
              <app-ng2stackedbar></app-ng2stackedbar>
              
          </div>
      </div>    

</div>
  <div class="dashboard_container">
      <div class="row">
          <div class="col-md-8 ps-md-0">
              <div class="card">


                  <app-unpaid></app-unpaid>

              </div>
          </div>
          <div class="col-md-4 pe-md-0">
              <div >
                  <!-- <app-notification></app-notification> -->
              </div>
          </div>
      </div>
  </div>
</div>
