.form-control:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  }
  .todoForm_block{
    overflow: hidden !important;
    height: fit-content;
  }
  .divend_button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e5e9;
    height: 40px;
  }
  .form-group{
    margin-bottom: 10px;
}
  .form-group label{
    color: #000;
}
.form-inline p{
    margin-bottom: 0px;
  }
   .form-inline{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-inline label{
    white-space: nowrap;
    margin-right: 6px;
    /* margin-right: 21px; */
      /* width: 152px; */
      width: 117px;
  }
  .form-inline label span{
    /* float: right; */
    /* margin-left: 59px; */
    margin-left: 15px;
  }
 
  .form-inline label.w-120{
    min-width: 120px;
    margin-right: 20px;
  }
  .todoForm_block{
    overflow: hidden !important;
    height: fit-content;
  }