.tr_highlight{ 
    color:var(--primary);
    background-color: #f1f1f1  !important;
  } 
  .New{
    color: rgb(206 140 12);
    background-color: rgb(255 199 89 / 25%);
  }
  .Approved{
    color: #00a65a;
    background: #d7ffea;
  }
  .user_status {
    padding: 3px 10px;
    position: relative;
    font-size: 14px;
    border-radius: 5px;
}
.Pending{
  background-color: #c6f4ff61;
  color: #1b92af;
}
.Exception{
  color: #dd4b39;
  background: #ffe8e5;

}
.mat-row:nth-child(even){
  background-color: rgb(195, 221, 230,0.1);
}
.Acknowledged{
  color: #dd4b39;
  background: #ffe8e5;
}
.Processing{
  background-color: #c6f4ff61;
  color: #1b92af;
}
.Progress{
  color: #00a65a;
  background: #d7ffea;
}
.Voided{
  color: #00a65a;
  background: #d7ffea;
}