<div>
    <form [formGroup]="profile" (ngSubmit)="save()">

        <div class="borderTopBoxBody">

          <div class="row m-3 profile_mgnt">
            <div class="col-md-4 col-lg-2" style="min-width: 200px;">
              <div class="img_div">
                <img [src]="profile.value.img" class="profile_img" />
                <div class=" mt-3" >
                  <input type="file" id="id" (change)="profile_img($event)" style="display: none;" />
                  <button mat-raised-button type="button" style="color: #3c8dbc;"><label for="id">
                      <mat-icon style="font-size: 18px;vertical-align: sub;">file_upload</mat-icon>Upload New Avatar
                    </label></button>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class=" form-inline">
                <label class="w-120"><b>Name <span>:</span> </b></label>
                <input  class="form-control" formControlName="firstname" style="margin-right: 5px;" />
                <input  class="form-control" formControlName="lastname" />
              </div>
              <div class=" form-inline">
                <label class="w-120"><b>Email <span>:</span> </b></label>
                <input  class="form-control" formControlName="email" />
              </div>
              <div class=" form-inline">
                <label class="w-120"><b>Phoneno <span>:</span></b></label>
                <input  class="form-control" formControlName="mobile" />
              </div>
              <div class=" form-inline">
                <label class="w-120"><b>Role <span>:</span> </b></label>
                <p style="margin-top:8px">{{profile.value.role}}</p>
              </div>
              <div class=" form-inline">
               <span > <label class="w-120"><b>Password <span>:</span> </b></label></span>
                <span ><button type="button" class=" btn btn_primary" >Reset
                    Password</button></span>
              </div>
            </div>
          </div>
          <div style="background-color: #f2f2f2;padding: 5px;">
            <p style="margin: 4px;">For more Profile editing and changing please go to Admin - Profile Management
            </p>
          </div>
        </div>
        </form>
</div>