.dialog_heading{
    flex: 0 0 auto;
    margin: 0;
    padding: 8px 24px !important;
    background: #008ecc !important;
    width: 100%;
    color: #fff;
}
.cancel_dialog  .example-container{
    padding: 15px;
    line-height: 22px;
}
input.gstNum1 {
    border: none;
    padding: 0;
    width: 5.9ch;
    background: repeating-linear-gradient(90deg, #cccaca 0, #cac7c7 1ch, transparent 0, transparent 1.5ch) 0 100%/22ch 1px no-repeat;
    font: 3ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    margin-top: 15px;
    color: dodgerblue !important;
    margin-left: 21px;
}
  input.gstNum1:focus {
    outline: none;
}
.dilaog_verify{
    margin-left: 47px;
    margin-top: 19px;
}
.mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}