
<!-- <mat-progress-spinner

[mode]="'indeterminate'" *ngIf="loading$ | async">
</mat-progress-spinner> -->

<!-- <button (click)="loader.show()">show</button>
<button (click)="loader.hide()">hide</button> -->
<!-- {{tabs}} -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="sidenav1" class="example-sidenav" class="example-sidenav" [ngClass]="sidenav ? 'sidenav':'full_sidenav' " mode="side" position="end"  >
  <!-- <mat-drawer #drawer [opened]="sidenav1" class="example-sidenav" class="example-sidenav" mode="side" position="end" style="width: 55%; padding: 10px;border:1px solid #dfdfdf ;" > -->
    <app-invoice-details-sidenav  ></app-invoice-details-sidenav>

    
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="card invoice_main_div" >
     
      <!-- (click)="upload_invoice_form()" -->
      <!-- <button class="btn btn-light btn-sm upload_invoice"  (click)="upload_invoice_form()" ><mat-icon class="upload-icon">list_alt</mat-icon>Invoice Upload</button> -->

      <!-- <mat-icon class="arrow_icon Rotate" [ngClass]="sidenav1 ? 'null' : 'toggleRotate' " (click)="sidenav1 ? left_sidenav_full() : left_sidenav_half()" >unfold_more</mat-icon> -->
      <button class="arrow_icon">
        <mat-icon class=" Rotate"  [ngClass]="sidenav1 ? 'null' : 'toggleRotate' " (click)="sidenav1 ? left_sidenav_full() : left_sidenav_half()" >
          <!-- unfold_more -->
            chevron_right
        </mat-icon>
      </button>

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" (click)="setTabs(false)">
          <a ngbNavLink><b>Unpaid</b></a>
          <ng-template ngbNavContent> 
            <app-search class="search_outer_box" (search)="search=$event"> </app-search>
            <app-unpaidinvoices noofrows=8 tablewidth="100%" [search]="search" (tabs)="tabs=$event"  (childEvent)="sidenav=$event" (index)="index=$event" (details)="details=$event" (invoicesidenav)="invoicesidenav=$event"></app-unpaidinvoices>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" (click)="setTabs(false)" >
          <a ngbNavLink ><b>Exceptions</b></a>
          <ng-template ngbNavContent>
            <app-search class="search_outer_box" (search)="search=$event"> </app-search>
            <app-invoice-exceptions (childEvent)="sidenav=$event" [search]="search"   (paid)="paid=$event" (details)="details=$event"></app-invoice-exceptions>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" (click)="setTabs(true)" >
          <a ngbNavLink ><b>My Inbox</b></a>
          <ng-template ngbNavContent>
            <app-search class="search_outer_box" (search)="search=$event"> </app-search>
            <app-assignedto-me (childEvent)="sidenav=$event" [search]="search"   (paid)="paid=$event" (details)="details=$event"></app-assignedto-me>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" (click)="setTabs(false)" >
          <a ngbNavLink ><b>Queries</b></a>
          <ng-template ngbNavContent>
            <app-search class="search_outer_box" (search)="search=$event"> </app-search>
            <app-invoice-queries (childEvent)="sidenav=$event" [search]="search"   (paid)="paid=$event" (details)="details=$event"></app-invoice-queries>
          </ng-template>
        </li>

        <!-- <li [ngbNavItem]="5" (click)="setTabs(false)">
          <a ngbNavLink>Paid</a>
          <ng-template ngbNavContent>
            <app-search class="search_outer_box" (search)="search=$event"> </app-search>
            <app-paidinvoices (childEvent)="sidenav=$event" [search]="search"   (paid)="paid=$event" (details)="details=$event"></app-paidinvoices>
          </ng-template>
        </li> -->
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-1"></div>
    </div>
  </div>

</mat-drawer-container>


