
.example-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .toolbar{
    padding-bottom: 5px;
    margin-bottom: 2px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 10%);
    background: var(--primary) !important;

  }
  
  .main_container{
      width: 100%;
      height: 100%;
      background-color:  #f5f9ff;
      padding-left:15px;
      padding-right: 15px;
    
    }
  .main_body{
    /* height: 100%; */
    background-color: white;
    position: relative;
 
margin-bottom: 40px;
  }
  .side{
      width: 100px;
      overflow: hidden !important;
      overscroll-behavior-y: contain;
      border-top-right-radius: 10px 
  }
  .container{
      display: flex;
      margin: 3px;
      align-items: center;
      justify-content: center;
        height: 80px;
        background-color: white;
    }
  .nav_im{
      object-fit: contain;
      height: auto;
      width: 150px;
      margin-right: 20px;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
      height: auto !important;
  }
  .logo{
    padding: 10px;
    display: inline-block;
  }
  .menu_btn{
    background: var(--logo);
    padding: 10px 0px;

  }

    .example-spacer {
        flex: 1 1 auto;
      }
    

  .material-icons-outlined{
    font-size: 55px;
    }

    .MuiIconButton-root {
      flex: 0 0 auto;
      color: rgba(0, 0, 0, 0.54);
      padding: 12px;
      overflow: visible;
      font-size: 1.2857142857142856rem;
      text-align: center;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 50%;
      background-color: transparent;
      border: none;
    }
    .MuiIconButton-root:hover{
      background-color: #f2f2f3;
    }

  
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  color: #3590ae;
  
}


.side span{
  width: 100px;

}
.navbar_side_bar .MuiPaper-root {
  background: #fff !important;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 18%);
}

.side1{
  width: 400px;
  
}
.bar{
  width: 100px;
}
.div_col{
display: flex;
}

.submenu{
  width: 100px;
  height: 100px;
}
mat-drawer-content{
  display: flex;
}
.nav_button{
    width: 100%;
  background-color: white;
  border: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}
.nav_button img,.nav_button svg,.nav_button mat-icon {
  vertical-align: middle;
  height: 70px;
  width: 40px;
}
/* .nav_button:hover{
color:#3590ae;

} */


.div_flex{

  background-color: white;
  max-width: 150px;
  height: 100%;
  transition-timing-function: linear;
  box-shadow: 5px 10px #ccc;
}

.div_sc{
  overflow: hidden;
  height: 90%
}
/* .header-image {
  background-image: url('../../../assets/avatarimg.jpg');
  background-size: cover;
} */
.header-image{
  border-radius:50% ;
  height: 45px;
  width:45px
}
.example-card {

  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* .card_header_image{
  margin-bottom: 10px;
} */

label{
  font-size: 0.75rem;
}

.material-icons-outlined{
  font-size: 25px;
}

.MuiIconButton-root1 {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.MuiIconButton-root1 mat-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.MuiIconButton-root1:hover{
  background-color: #f2f2f3;
}
.asg_icon_1 svg{
  color:#3590ae;

}

.toggleRotate {
  transform: rotate(180deg);
  transition: 0.5s;
}



.upload{
  color: #3590ae;
  display: inline-flex;
  justify-content: center;
}


.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif; 
   font-size: 13px; 
  font-weight: 400; 
}
/* button hover */
/* button:hover{
  color:#008ecc;
} */


.nav_button {
  padding: 30px 10px;
    border-bottom-color: #ebebeb;
  line-height: 1.3;
  color: #454545;
}

.nav_button path,.mat-icon {
  fill: #484848 ;
}
.nav_button:hover path,.nav_button:hover .mat-icon {
  /* fill: #127190; */
  fill: var(--primary);
}
.nav_button img,
.nav_button svg, 
.nav_button mat-icon{
  vertical-align: bottom;
  height: 30px;
  width: 30px;
margin-bottom: 4px;
}



.custom-bread-crumb{
  padding-top: 15px !important;
  }
  


.side {
  border-radius: 0px !important;
}
.nav_button.active{
  /* border-left: 4px solid #008ecc; */
  transition: all 0.4s;
  color: var(--primary);
}
.nav_button.active .mat-icon {
  fill: var(--primary);
}
.upload .mat-icon,
.toolbar .mat-icon{
  fill:#fff !important;
  }
  .asg_icon_1,
  .material-icons{
  color:#fff;
  }
  .username{
    color:#fff;
    text-transform: capitalize;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .username .name{
    font-size: 14px;
  }
  label.username > * {
    line-height: 20px;
  }
  .toolbar .mat-card{
    padding: 2px ;
  }

  .theme_button{
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 3;
  }

  .theme_button{
    padding: 5px 10px;
    font-size: 18px;
  }

  .theme_button + .dropdown-menu{
    position: fixed !important;
    left: initial !important;
    right: -18px ;
    top: 57px !important;
  }

  .theme_button1{
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 100;
   
  }
  #drawerk{
    height: max-content;
  }
 

.nav_link:active {
color: tomato;
}
.custom-bread-crumb{
  display: flex;
  justify-content: flex-end;
}

.nav_button.active::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 80%;
  background: var(--primary);
  left: 0;
  border-radius: 50px;
  transition: all 0.4s;
}
.partner_name{
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 100px;
  font-weight: 550;
  color: #fff;
}
.nav-item>.dropdown-toggle::after{
  content: none;

}
ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
.avatar-menu-item{
  height: 180px !important;
  padding: 20px 10px;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
  }
.img-circle {
    border-radius: 50%;
}
.avatar-menu-item>img{
  z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.mat-card.example-card{
  display: flex;
  box-shadow: none;

}
/* .mat-card.example-card:hover{
  background-color:  rgba(0, 0, 0, 0.2) !important;
} */
.avatar-menu-item:hover{
  background-color: var(--primary) !important;
}
.user-footer {
  background-color: #f9f9f9;
  padding: 7px 10px;
  height: fit-content !important;
}
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}
.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
  background-color: #e7e7e7;
}
.profile_view{
  min-width: 250px !important;
}

.avatar-menu-item p{
  line-height: 16px;
}
.page_heading{
  font-size: 18px;
  color: #333;
}
/* .themes_container{
  width: 200px;
  height: 100%;
background-color: #fff;
  position: relative;
  animation: myfirst 5s 2;
  animation-direction: alternate-reverse;
  position:absolute;
  right:0px;
  z-index: 100;
  box-shadow: whitesmoke;
}

@keyframes myfirst {
  0%   {background: white; right: 0px;}
  25%   {background: white; right: 0px; }
  100% {background: white; right: 0px; }
} */
/* .green1{
  background-color: green ;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.blue1{
  background-color: blue;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.cyan1{
  background-color: cyan;
  width: 40px;
  height: 40px;
  margin: 10px;
} */
.layout-topbar-green {
  background-color: #43A047;
  
}

.icon{
  color: #fff;
}
.theming{

    height: 48px;
    align-items: center;
    justify-content: center;
    width: 48px;
    display: flex;

}
a{
  text-decoration: none;
}