<mat-toolbar [class.mat-elevation-z2]="isActive" class="toolbar mat-app-background theme-default" color="primary" [ngClass]="themeclass">
        <div class="d-flex">
          <div style="width: 100px;" class="d-flex justify-content-center align-items-center menu_btn">
            <button mat-icon-button  aria-label="icon-button with menu icon"
            (click)="opened= !opened" [ngClass]="{'MuiIconButton-root1':true,'toggleRotate': opened===true}" >  
  
            <mat-icon svgIcon="Menu" aria-hidden="false" aria-label="Example" class="material-icons-outlined" ></mat-icon>
          </button>
          </div>
          <span class="logo d-flex">
            <!-- <img src="../../../assets/inkreta-logo.png" alt='logo' class ="nav_im"> -->
            <img src="./assets/inkreta-logo.png" alt='logo' class ="nav_im">
          </span>          
        </div>
         
        <span class="partner_name">Dr Reddys Laboratories</span>         
        
         <div style="display: flex;align-items: center;">
          <div class="asg_icon">
           <a routerLink="todo">
  
          <button  class="MuiIconButton-root" >        
            <span class="MuiIconButton-label">
              <mat-icon class="material-icons-outlined" ><span class="asg_icon_1"> assignment_turned_in</span></mat-icon>
            </span>      
          </button>
          </a>
          </div>
          <button mat-icon-button [ngClass]="'MuiIconButton-root1'" aria-label="icon-button with menu icon">
           <span class="upload">
            <mat-icon svgIcon="Upload" aria-hidden="false" aria-label="Example" class="material-icons-outlined" ></mat-icon>
             </span>
           </button>
         
         
  
          <div>
            <a routerLink="inbox">           
           <button  class="MuiIconButton-root" >        
           <span class="MuiIconButton-label">
             <mat-icon class="material-icons-outlined"  ><span class="material-icons">
              notifications
              </span></mat-icon>
           </span>      
         </button>
         </a>
          </div>    
          <!-- <button  class="MuiIconButton-root theming" [matMenuTriggerFor]="theming"    >         -->
            <!-- <span class="MuiIconButton-label">
               <mat-icon class="material-icons-outlined"  ><span class="material-icons">
                settings
               </span></mat-icon>
            </span>             -->
            <!-- <fa-icon class="icon" [icon]="faPalette"></fa-icon> -->
  
          <!-- </button> -->
          <!-- <mat-menu #theming="matMenu" >
            <div>
              <app-theming></app-theming>
            </div>
          </mat-menu>   -->
          <button  class="MuiIconButton-root theming"   (click)="themeopen()" >   
            <fa-icon class="icon" [icon]="faPalette"></fa-icon>
     
        </button>
           <button class="example-card " [matMenuTriggerFor]="menu1">
           <mat-card class="example-card" >
            <div class="card_header_image">
                    <!-- <div mat-card-avatar class="header-image"></div> -->
                    <!-- <img src="../../../assets/avatarimg.jpg" class="header-image" alt="avatar" /> -->
                    <img src="./assets/avatarimg.jpg" class="header-image" alt="avatar" />
                </div>
                <label class="username"> <span class="name ms-1" >Gopal Rao Vanam</span> 
                  <!-- <span class="role">(Vendor manager)</span>  -->
                </label>

           </mat-card>
           </button>
           <mat-menu #menu1="matMenu" >
             
            <ul class="profile_view">
                <li mat-menu-item class="avatar-menu-item">
                  <!-- <img src="../../../assets/avatarimg.jpg" class="img-circle" alt="User Image"/> -->
                  <img src="./assets/avatarimg.jpg" class="img-circle" alt="User Image"/>
                   <h3 class="mt-2 mb-1">Gopal Roa Vanam</h3>
                  <p class="mb-0">- Vendor Manager</p>
                </li>
                
                <li class="user-footer" mat-menu-item>
                  <a class="btn btn-default btn-flat pull-left" (click)="profileroute()">Profile</a>
                  <a class="btn btn-default btn-flat pull-right" (click)="loggingout()">Sign out</a>
                </li>
            </ul> 
           </mat-menu>
           
        
           <!-- <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
              Dynamic
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <ul class="dropdown-menu" ngbDropdownItem>
                <li class="user-header">
                  <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
  
                  <p>
                    Alexander Pierce - Web Developer
                    <small>Member since Nov. 2012</small>
                  </p>
                </li>
              </ul>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
            </div>
          </li> -->
           
        </div>


  </mat-toolbar>
    

 <mat-drawer-container class="example-container "  >
     
   
    
    
     <mat-drawer mode="side"   class="side " [class.mat-elevation-z2]="true"  [(opened)]="opened">
       <div class="div_sc">
<perfect-scrollbar>
  
  <div >
      <div *ngFor="let element of data" class="element_scroll">
          
        <div>
          <button   matRipple [matRippleColor]="color" [ngClass]="{'active':(sidenavclickedclass== element.itemName)}"
           *ngIf="element.itemName==='Dashboard'" 
           (click)="children(element)" class="nav_button">
              <mat-icon svgIcon="dashboard" aria-hidden="false" aria-label="Example"></mat-icon>
              {{element.itemName}}
          </button>
          
        
          </div>
    <a routerLink='invoice'>
  <button  matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}"   *ngIf="element.itemName==='Invoice'"   class="nav_button">
      <mat-icon svgIcon="Invoice1" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</a>

  <button matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}"   *ngIf="element.itemName==='Mappings'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="General" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>

<div>
  <button  matRipple [matRippleColor]="color"   [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='Admin'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="admin1" aria-hidden="false" aria-label="Example"></mat-icon>
      {{element.itemName}}
  </button>
</div>
<div>
  <button matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='Routing Details'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="General" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</div>
<div>

<a>
  <button matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='User Management'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="General" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</a>
</div>
<div>
  <a>
  <button matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}"  *ngIf="element.itemName==='FAQs'"  (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="Faq" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</a>
</div>
<div>
  <button  matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='Receivables Management'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="General" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</div>
<div>
  <button matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='Profile'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="General" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</div>
<div>
  <button  matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}"  *ngIf="element.itemName==='Knowledge'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="Faq" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</div>
<div>
  <button  matRipple [matRippleColor]="color"  [ngClass]="{'active':(sidenavclickedclass== element.itemName)}" *ngIf="element.itemName==='Applications'" (click)="children(element)" class="nav_button">
      <mat-icon svgIcon="Invoice" aria-hidden="false" aria-label="Example"></mat-icon>
      
      {{element.itemName}}
  </button>
</div>





      </div>
    </div>
      </perfect-scrollbar>
      </div>
     </mat-drawer>
    
    
    
     <mat-drawer-content class="main_drawer "  >
      
        

      <div class="div_flex">
      

      <app-submenu [childs]="childs"  [opened1]="opened1"></app-submenu>
      
      </div>
    

         <div class="main_container  " >
           <div>
            <app-theming [loading]="loading"></app-theming>
           </div>

          <div class="d-flex justify-content-between align-items-center">
                <app-ng-dynamic-breadcrumb [bgColor]="breadcrumbConfig['bgColor']"  [fontSize]="breadcrumbConfig['fontSize']" [fontColor]="breadcrumbConfig['fontColor']" [lastLinkColor]="breadcrumbConfig['lastLinkColor']" [symbol]="breadcrumbConfig['symbol']">
            
                </app-ng-dynamic-breadcrumb>
                  <!-- <h2 class="mb-0 page_heading">{{title }}</h2> -->
                <app-pagetitle></app-pagetitle>

          </div>
          <!-- <div ngbDropdown>
            <button  class="btn btn-primary theme_button1 " id="dropdownConfig1" ngbDropdownToggle placement="bottom-right" (click)="theme()">           
              <fa-icon [icon]="faPalette"></fa-icon>
            </button> 
            <div class="themes_container" *ngIf="isClicked===true">
              <div class="green1"></div>
              <div class="blue1"></div>
              <div class="cyan1"></div>
            </div>
     
          </div>     -->
          <div class="main_body" >
           
           
               


           <router-outlet></router-outlet>
           
        
          </div>
          
        
         </div>
      

     </mat-drawer-content>
  
    
 </mat-drawer-container>
 

 
 
 
 

