
<div >
    <div class="d-flex justify-content-between heading align-items-center">
      <div class="d-flex align-items-center">
        <!-- <mat-icon class="arrow_icon Rotate" (click)="arrow ? closesidenav() : closesidenav1()" [ngClass]="arrow ? 'null' : 'toggleRotate' ">
          unfold_more</mat-icon> -->
          <button class="arrow_icon">
            <mat-icon class=" Rotate"  (click)="arrow ? closesidenav() : closesidenav1()" [ngClass]="arrow ? 'null' : 'toggleRotate' " >
              <!-- unfold_more -->
                chevron_left
            </mat-icon>
        </button>
        <h2 class="ps-3 mb-0">Invoice Details</h2>
      </div>
      <div class="d-flex">
        <div class="invoice_act_btn d-flex">
          <button class="btn btn-light btn-sm" (click)="viewmore()">
            <mat-icon>open_in_new</mat-icon>View more
          </button>
          <!-- <button class="btn btn-light btn-sm"  (click)="comment()"><mat-icon  >textsms</mat-icon>Notes</button> -->
          <!-- printSectionId="print-section" ngxPrint -->
          <!-- <button class="btn btn-light btn-sm" printSectionId="print-section" ngxPrin>
            <mat-icon>print</mat-icon>Print
          </button>
          <button class="btn btn-light btn-sm" (click)="ondownload()">
            <mat-icon>file_download</mat-icon>PDF
          </button> -->
          <button class="btn btn-light btn-sm" [matMenuTriggerFor]="menu">Actions<mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          <mat-menu #menu="matMenu">
  
  
  
            <button mat-menu-item 
              (click)="openDialog('Update status')">Update Status</button>
            <button mat-menu-item  (click)="openDialog('Raise Query')">Queries</button>
            <!-- <button mat-menu-item  (click)="openDialog('Send Reminder')">Send Reminder</button> -->
            <button mat-menu-item (click)="openDialog('QR Code')">QR Code Details</button>
            <!-- <button mat-menu-item (click)="openDialog('ERP')">Post Into ERP</button> -->
            <div class="custom">
              <div *ngFor="let item of fetchforinvoices" >
                <!-- (click)="customactions()" -->
                <button mat-menu-item (click)="openCustomDialog(item)">{{item.action_name}}</button>    
              </div>
            </div>
          </mat-menu>
  
        </div>
  
      </div>
    </div>
    <div >
  
      <mat-tab-group class="tab" #print (selectedTabChange)="selectedIndexBinding($event)">
        <mat-tab label="Details" index=0> 
          <app-invoice-details [index]=0></app-invoice-details>
      
        </mat-tab>
              <mat-tab label="Document" index=1>
                  <app-invoice-inline (blob)="blob=$event" [index]=1 ></app-invoice-inline>
              </mat-tab>
              <mat-tab label="Posted Details" index=2>

              </mat-tab>
              <mat-tab label="Attachments" index=3> 
                  <app-invoice-attachment [index]=3></app-invoice-attachment>
              </mat-tab>
              
              <mat-tab label="History" index=4> 
                  <app-invoice-history [index]=3></app-invoice-history>
              </mat-tab>
              <mat-tab label="Notes" index=5> 
                <app-commentstab [external]=false  [index]=4></app-commentstab>
              </mat-tab>
              
          </mat-tab-group>
    </div>
  </div>
  