<div>
<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)" />
  
    <span class="upload">
    <button (click)="onUpload()"  
        mat-flat-button color="primary">
        Upload
    </button>
    </span>
</div>
  
<!-- Shareable short link of  uoloaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h3> Done</h3>
    <!-- <a href="{{shortLink}}">{{shortLink}}</a> -->
</div>
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>
</div>