<perfect-scrollbar>
<div class="col-md-12" style="display: flex;max-height: 482px;">
    <div style="width: 47%;">
        <div class="borderTopBox">
            <div class="boxHeading">Additional Company Information</div>
            <div class="borderTopBoxBody">
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Core Business <span style="float: right;">:</span></b></label>
                            <!-- <p>Trader</p> -->
                            <p>{{additionaldetails?.industry}}</p>
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Incorporation Year <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.incorporationyear}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Company TurnOver <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.annualturnover}}</p>
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Company Size <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.companysize}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Company Details <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.companydetails}}</p>
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Key Product Category <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.keyProductCategories}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Industries Serviced <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.offeredServices}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Add more Industries</b></label>
                            <p>2000</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div style="width: 47%;">
        <div class="borderTopBox">
            <div class="boxHeading">Other information</div>
            <div class="borderTopBoxBody">
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Standard Payment Terms <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.paymentTerms}}</p>
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Reporting Currency <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.reportingCurrency}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Company Website <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.website}}</p>
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Average Daily Invoices <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.noOfInvoicesExpected}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>Purchase Email Id <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.salesEnquiryEmailId}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="form-group d-flex">
                            <label><b>MSME Registered <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.msmeRegistered}}</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div >
                        <div class="form-group d-flex">
                            <label><b>MSME Category <span style="float: right;">:</span></b></label>
                            <p>{{additionaldetails?.msmeCategories}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group d-flex">
                    <label><b>Nature Of Business <span style="float: right;">:</span></b></label>
                  
                    <p>{{additionaldetails?.natureOfBusiness}}</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
</perfect-scrollbar>
