mat-form-field {
  margin-right: 12px;
}

.borderTopBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: 3px solid#008ecc;
  /* margin-top: 8px; */
}

.boxHeading {
  color: #000;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 17px;
}
.btn_right{
  text-align: right;  }
.inputbox1 {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: 5px solid#008ecc;
  margin-top: -131px;
  margin-left: 438px;
  margin: -142px 48px 24px 370px;

}

.textalign_right {
  text-align: end;
}

.row {
  padding: 6px
}

/* .mat-form-field-flex{
  width:80% !important;
} */
.borderTopBox.recform {
  min-height: 221px !important;
  max-height: 300px !important;
}
.buttoncolor{
  margin: px 0px 0px 1029px;
}
.buttoncolor1{
  margin: 0px 0px 0px 1000px;
  /* -33px 0px 0px 1110px */
}
label.my_labels {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  /* color: #008ECC; */
}
.label_desc{
  font-weight: 500;
 }
.read_value {
font-weight: 200;
font-size: 14px;
color: #656565;
margin-top: 2px;
}
.box_content{
margin-left: 9px;
}

label{
  font-size: 14px;
  line-height: 9px;
  min-width: 120px;
  margin-right: 20px;
}
.form-inline p{
  margin-bottom: 0px;
}
 .form-inline{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-inline label{
  white-space: nowrap;
  margin-right: 6px;
  /* margin-right: 21px; */
    width: 152px;
}
.form-inline label span{
  float: right;
  /* margin-left: 59px; */
}
.form-inline label.w-120{
  min-width: 120px;
  margin-right: 20px;
}