.theming_button{
    position: absolute;
    right: 0px;
    top:50%;
    z-index: 1;
    font-size: 1.7rem;
}
/* .mat-drawer.mat-drawer-end {
    right: 0;
    height: max-content;
    top:40%
} */
.outer_container{
   padding: 10px; 
}
.color{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 0.1px thin #fff;
    margin: 0.5rem;
}
.color_container{
    display: flex;
    flex-wrap: wrap;
    width: 194px;
    padding-top: 21px;
}
.header_theme{
    font-weight: 400;
    color: #7c7c72 !important;
    border: none;
    background: transparent;
}
.close_button{

    background-color: transparent;
    color:#c4bfbf !important;
    border: none;
    font-size: 1.2rem;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
}
.mat-h3{
    margin: 0px !important;
}
.header_theme:hover{
    color: var(--primary);
}
.header_label{
    border-bottom: 1px solid #c4bfbf;
    padding-bottom: 16px;
}
.header_label{
    color: #6f6f6f !important;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 15px;
}
.mat-drawer.mat-drawer-end {
    right: 0;
    position: fixed;
    top: 67px;
    transform: translate3d(100%, 0, 0);
}