<mat-progress-spinner
[mode]="'indeterminate'" *ngIf="loading" [color]="'var(--primary)'">
</mat-progress-spinner>

<div > 
    <div class="title modal_header d-flex justify-content-between">    
        <div class="d-flex">
            <label style="font-weight:600;color:#3c8dbc">Invoice History</label>
        </div>
        <div>
            <button type="button" aria-label="Close" class="btn-close" (click)="close()" ></button>
        </div>
    </div>
    <div class="main_div">
        <div class="his_main" *ngIf="status">

            <div class="sort_bar">
              <label style="margin-left: -16px;" class="sorting">
              Status</label>
              <label style="margin-left: 83px;" class="sorting">
              Action By and Comments</label>
          
            </div>
            <perfect-scrollbar>
              <div class="py-3 info_main" >
                
                <div *ngFor="let x of invoicelistdetails">
                  <div class="m-1 d-flex grid">
                    <div class="status">
                      <p style="    width: 145px;">
                        <span class="user_status PAID" *ngIf="x.action === 'NEW' || x.action === 'New'">{{x.action}} </span> 
                        <span class="user_status OVERDUE" *ngIf="x.action === 'Voided'">{{x.action}} </span> 
                        <span class="user_status PARTIAL" *ngIf="x.action === 'AP Processing'">{{x.action}} </span>
                        <span class="user_status VIEWED" *ngIf=" x.action === 'Approved'">{{x.action}} </span>
          
                        <span class="user_status VIEWED" *ngIf=" x.action === 'On Hold'">{{x.action}} </span>  
                        <span class="user_status DRAFT" *ngIf="x.action === 'Pending'">{{x.action}} </span>
                        <span class="user_status PARTIAL" *ngIf="x.action === 'Acknowledged'">{{x.action}} </span>
                        <span class="user_status Exception" *ngIf=" x.action === 'Exception'">{{x.action}} </span>
                        <span class="user_status Posted" *ngIf="x.action === 'Posted for Payment'">{{x.action}} </span> 
                        <span class="user_status PARTIAL" *ngIf="x.action === 'Paid'">{{x.action}} </span>
                        <span class="user_status DRAFT" *ngIf="x.action === 'Draft'">{{x.action}} </span>
                        <span class="user_status Posted" *ngIf="x.action === 'Clam'">{{x.action}} </span> 
                        <span class="user_status DRAFT" *ngIf="x.action === 'Verify'">{{x.action}} </span>
                        <span class="user_status Posted" *ngIf="x.action === 'Approve'">{{x.action}} </span> 
                        <span class="user_status Exception" *ngIf=" x.action === 'Review'">{{x.action}} </span>
          
                        <span class="user_status Exception" *ngIf=" x.action === 'Claim'">{{x.action}} </span>
                        <span class="user_status Exception" *ngIf=" x.action === 'Release to Queue'">{{x.action}} </span>
          
                        <span class="user_status PAID" *ngIf="x.action === 'Submit' || x.action === 'submit'">{{x.action}} </span> 
                      </p>
                    </div>
                    <div class="info">
                      <div class="top_info">
                        <p style="color: #000;">
                          {{x.actionByDisplayName}} 
                          On 
                          <span class="text">{{x.action_date | date: 'yyyy-MM-dd'}}</span>
                        </p>
                      </div>
                     
                      <div class="bottom_info showmore_lineh d-flex" >
                        <div class="d-flex"   >
                          <div style="width: 520px;">{{x.action_comments}}</div>
                          <div>
                        
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
          <div *ngIf="!status">
            <p style="color: red;">No History found for this invoice</p>
          </div>
    </div>

</div>