<div class="m-1 d-flex justify-content-between" style="margin-top: -13px;">
    <div class="d-flex">
        <div style="margin-right: 13px;">
            <!-- <img class="image"  src="../../../../../../assets/invoice.png"/> -->
            <img class="image"  src="./assets/invoice.png"/>
        </div>
        <div>
            <div style="height: 25px;margin-top: 5px;">
                <p style="color: #000000;">{{data.VendorName}}</p>
            </div>
            <div class="d-flex">
                <div class="d-flex">
                    <label style="color: #e44f58;"><b>{{data.type}}</b></label>
                    <p style="margin-left: 5px;font-size: 12px;">#{{data.InvoiceNo}}</p>
                </div>
                <div style="margin-left: 5px;">
                    <span class="invoice_status paid" *ngIf="data.StatusOfInv === 'paid'">Paid</span>
                    <span class="invoice_status unpaid" *ngIf="data.StatusOfInv === 'unpaid'">Unpaid</span>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -3px;">
        <div class="d-flex row_data" style="height: 21px;">
            <label class="w-120">Created On <span>:</span> </label>
            <p>{{data.createdon}}</p>
        </div>
        <div class="d-flex row_data" style="height: 21px;" *ngIf="data.StatusOfInv==='paid'">
            <label class="w-120">Paid On <span>:</span> </label>
            <p>{{data.paidon}}</p>
        </div>
        <div class="d-flex row_data" style="height: 21px;" *ngIf="data.StatusOfInv==='unpaid'">
            <label class="w-120">Due Date <span>:</span> </label>
            <p>{{data.DueDate}}</p>
        </div>
        <div class="d-flex row_data" style="height: 21px;">
            <label class="w-120">Amount Paid<span>:</span> </label>
            <p>{{data.Amount}}</p>
        </div>
    </div>
</div>