<div class="modal-content">
    <div class="modal-body">
      <form [formGroup]="emailForm" >
        <div class="form-group">
         <div class="vertical_split">
            <div >
              
                <app-query noofrows=11 (respond)="respond($event)" (response)="response()"></app-query>
                </div>
          <div class="first_bar" >
            <div class="div_flex">
           <label class="modal-title" id="modal-basic-title">{{title}}</label>
           <div class="query_btns">
           <button mat-flat-button class="btn_response" color="primary" *ngIf="btn_enable===true" (click)="response()"> Respond </button>
           <button mat-flat-button class="btn_response" color="accent" *ngIf="btn_enable===true" (click)="new()"> New Query </button>
            </div>
            </div>
           <div class="form_elements">
            <label>Email</label>
             <input type= "text"  class="form-control" formControlName="email"     required/>
 
           </div>
             
           
           <div class="form_elements">
             <label>Query Type</label>
             <select class="form-select querytype"  formControlName="querytype"  aria-label=".form-select-lg example">
               <option selected>Open this select menu</option>
               <option value="1">Dispute</option>
               <option value="2">Duplicate</option>
               <option value="3">Mismatch</option>
             </select>
             </div>
             <div class="form_elements">
               <label>Subject</label>
                <input type= "text"  formControlName="subject" class="form-control"     required/>
    
              </div>
              <div class="form_elements">
               <label>Template Type</label>
               <select class="form-select" formControlName="templatetype" aria-label=".form-select-lg example">
                 <option selected>Open this select menu</option>
                 <option value="1">Mismatch</option>
               </select>
               </div>
               <div class="form-elements">
                 <label >Description</label>
                 <div class="editors">
                 <ngx-editor-menu [editor]="editor" class="editor"  [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor [editor]="editor" formControlName="description">
                </ngx-editor>
                </div>

               </div>
               <!-- <div class="editors">
                <label >Description</label>

               <quill-editor formControlName="description"
               [modules]="quillConfig"
                placeholder="Enter Text"
                 ></quill-editor>
                </div>
                <br>
                <br> -->
                  <!-- <div class="form-elements" >
                <label >Description</label>
                <div class="editors">
              <angular-editor class="angular-editor" formControlName="description"  [config]="editorconfig"></angular-editor><br>
               </div>
               </div> -->

               <div class="form-elements" >
                 <div>
                    <app-file-upload></app-file-upload>
                 </div>
                 </div>
             
               <div class=" modal-footer btns12">
                 <mat-dialog-actions>
                 <button mat-flat-button color="accent" (click)="close()" >Cancel</button>
            
                 <button mat-flat-button color="primary">Submit</button>
                </mat-dialog-actions>
               </div>
              
           </div>
    
         </div>  
        </div>
      </form>
     
    </div>
 
    </div>