<div class="main_div">
    <div class="modal-header">
        <label class="modal-title" id="modal-basic-title">Invoice Submit</label>
        <button type="button" aria-label="Close" class="btn-close btn-close-white" (click)="close()" ></button>
    </div>
    <div class="content">
    <p>Are you sure you want to Submit this invoice?</p>
    </div>
    <mat-divider class="divider" [inset]="true"></mat-divider>
    <div class="action">
        <button class="btn btn-primary" >Yes</button>
        <button class="btn btn-primary" >No</button>
    </div>
</div>