.main_div{
    height: 200px;
    width: 417px;
}
.modal-header{
    /* border-top: 4px solid var(--primary);
    border-right: 4px solid var(--primary);    
    border-left: 4px solid var(--primary);
    border-bottom: 1px solid #ccc !important;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px */
    background: var(--primary);
    color: #ffff;
    height: 42px;
}
.action{
    position: absolute;
    right: 558px;
    bottom: 267px;
}
.btn{
    margin-right: 5px;
    color: #fff;
}
.content{
    height: 99px;
    text-align: center;
    padding-top: 30px;
}
.divider{
    /* border-color: #8b8b8c; */
    margin-left: -6px !important;
}