<div class="m-1 d-flex justify-content-between" style="margin-top: -13px;">
    <div class="d-flex">
        <div style="margin-right: 13px;">
            <!-- <img class="image"  src="../../../../../../assets/query.png"/> -->
            <img class="image"  src="./assets/query.png"/>
        </div>
        <div>
            <div style="height: 25px;margin-top: 5px;">
                <p style="color: #000000;">{{data.title}}</p>
            </div>
            <div class="d-flex">
                <div class="d-flex">
                    <label style="color: #f79535;;"><b>{{data.type}}</b></label>
                    <p style="margin-left: 5px;font-size: 12px;">#{{data.id}}</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: -3px;">
        <div class="d-flex row_data" style="height: 21px;">
            <label class="w-120">Created On <span>:</span> </label>
            <p>{{data.Date}}</p>
        </div>
    </div>
</div>