<div class="col-md-12" style="display: flex;">
    <div class="col-md-6">
        <div class="borderTopBox">
            <div class="boxHeading">Additional Company Information</div>
            <div class="borderTopBoxBody">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Core Business</b></label>
                            <!-- <p>Trader</p> -->
                            <p>{{this.Profile_Details.value.industry}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Incorporation Year</b></label>
                            <p>{{this.Profile_Details.value.incorporationYear}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Company TurnOver</b></label>
                            <p>{{this.Profile_Details.value.annualTurnover}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Company Size</b></label>
                            <p>{{this.Profile_Details.value.companySize}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Company Details</b></label>
                            <p>{{this.Profile_Details.value.companyDetail}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Key Product Category</b></label>
                            <p>{{this.Profile_Details.value.keyProductCategories}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Industries Serviced</b></label>
                            <p>{{this.Profile_Details.value.offeredServices}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Add more Industries</b></label>
                            <p>2000</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="borderTopBox">
            <div class="boxHeading">Other information</div>
            <div class="borderTopBoxBody">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Standard Payment Terms</b></label>
                            <p>{{this.Profile_Details.value.paymentTerms}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Reporting Currency</b></label>
                            <p>{{this.Profile_Details.value.reportingCurrency}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Company Website</b></label>
                            <p>{{this.Profile_Details.value.website}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Average Daily Invoices</b></label>
                            <p>{{this.Profile_Details.value.noOfInvoicesExpected}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>Purchase Email Id</b></label>
                            <p>{{this.Profile_Details.value.salesEnquiryEmailId}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>MSME Registered</b></label>
                            <p>{{this.Profile_Details.value.msmeRegistered}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label><b>MSME Category</b></label>
                            <p>{{this.Profile_Details.value.msmeCategories}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
