<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading">
</mat-progress-spinner>

<div>
    <div class="modal-header">
        <label class="modal-title" id="modal-basic-title"> Reset Pawword </label>
        <button type="button" aria-label="Close" class="btn-close" (click)="close()"></button>
    </div>
    <form [formGroup]="changepassword" (ngSubmit)="submit()">
        <div class="main_div p-1">
            <div class="d-flex fields" style="height: 30px;">
                <label>Enter Current Password <span>:</span></label>
                <div class="input-group mb-3" >
                    
                    <input [type]="hide2 ? 'password' : 'text'"class="form-control" formControlName="oldpassword" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary icon_pass" type="button" id="button-addon1" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </div>
                </div>
            </div>
            <div class="d-flex fields" style="height: 30px;">
                <label>New Password <span>:</span></label>
                <div class="input-group mb-3" >
                    
                    <input [type]="hide1 ? 'password' : 'text'" class="form-control" formControlName="newpassword" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary icon_pass" type="button" id="button-addon1" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </div>
                </div>
            </div>
            <div class="d-flex fields" style="height: 30px;">
                <label>Re-Enter New Password <span>:</span></label>

                <div class="input-group mb-3" >
                    
                    <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="re_newpassword" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary icon_pass" type="button" id="button-addon1" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </div>
                </div>
            </div>
            <div>
                <div *ngIf="f.newpassword.invalid && (f.newpassword.dirty || f.newpassword.touched)">
                    <div  *ngIf="f.newpassword.errors?.required">
                        <mat-error>Password is required</mat-error>
                    </div>
                    <mat-error *ngIf="f.newpassword.errors?.forbiddenName">
                        Password must contains 6 to 12 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
                    </mat-error>
                </div>
                <div class="req" *ngIf="changepassword.errors?.misMatch && (changepassword.touched || changepassword.dirty)" >
                    <mat-error> cannot match Password</mat-error>
                </div>
                <div class="req" *ngIf="f.newpassword.value!=='' && f.re_newpassword.value!=='' && f.newpassword.value === f.re_newpassword.value" >
                    <p style="color: green;"> Password matched please submit</p>
                </div>
            </div>
            <p style="color: red;">{{error}}</p>
        </div>
        <div class="action_btn justify-content-between d-flex">
            <div>
                
            </div>
            <div>
            <button class="btn btn-light" (click)="close()" type="button">Cancel</button>
            <button class="btn  btn_primary" style="margin-left: 10px;" type="submit" [disabled]="!( f.oldpassword.valid &&  f.newpassword.valid && f.re_newpassword.valid && !changepassword.errors?.misMatch)" >Submit</button>
            </div>
        </div>
    </form>
</div>