.btns{
    background-color: #fff;
    border-color: #2871f6;
    color: #2871f6;
    
}
.active{
    background-color: #fff;
    background-color: #2871f6;
    color: #fff;
    border-color: #2871f6 ;
}
.header{
    display: flex;
    justify-content: space-between;
}
a:active .btns{
    background-color: #fff;
    background-color: #2871f6;
    color: #fff;
    border-color: #2871f6 ;
}
.btns_tick{
    height: 26px;
    width: 26px;
    font-size: 14px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #3c8dbc;
    color: #fff;
    border: none;
    margin-right: 5px;
}