<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<mat-progress-spinner
[mode]="'indeterminate'" *ngIf="loading" [color]="'var(--primary)'">
</mat-progress-spinner>

<div class="container1">
    <div class="modal-header">
        <label class="modal-title" id="modal-basic-title">Invoice Tracker</label>
        <button type="button" aria-label="Close" class="btn-close btn-close-black" (click)="close()"></button>
    </div>
    
    <div class="m-1">
        <div class="example">
            <label>Enter Your Invoice Number : </label>
            <input [(ngModel)]="search"  style="height: 40px;" type="text" placeholder="Search.." name="search">
            <button class="new_user_search" (click)="get_track()" > <fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
        <!-- <mat-divider class="divider" [inset]="true"></mat-divider> -->
        <perfect-scrollbar>
        <div class="m-1 container-body" *ngIf="status">
            
            <ul class="timeline">
                <li class="timeline-inverted" *ngFor="let x of timelinedetails">
                    <div class="timeline_date">
                        <p>{{x.action_date | date: 'dd/MM/yyyy'}}</p>
                    </div>
                <div class="timeline-badge warning"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <p class="timeline-title">
                        <span class="action">{{x.action}}</span>
                        - from 
                        <span class="actionby">{{x.actionByDisplayName}}</span>
                    </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{x.action_comments}}</p>
                    <!-- <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p> -->
                    <!-- <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p> -->
                    </div>
                </div>
                </li>
            </ul>
        </div>
        </perfect-scrollbar>
        <div class="m-1" *ngIf="!status">
            <!-- <p>There is no record found</p> -->
            <p>{{mess}}</p>
        </div>
    </div>
</div>