<div *ngIf="!activationstatus" [ngClass]="stepper.selectedIndex===0 ? 'firtStep supplierRegestration':stepper.selectedIndex===1 ? 'firtStep supplierRegestration':stepper.selectedIndex===2 ? 'firtStep supplierRegestration':stepper.selectedIndex===3 ? 'firtStep supplierRegestration':stepper.selectedIndex===4 ? 'firtStep supplierRegestration':'supplierRegestration far-section'"
[style.backgroundImage]="stepper.selectedIndex===0 ? 'url(./assets/img2.JPG)':stepper.selectedIndex===1 ? 'url(./assets/bg_pattern.jpg)':stepper.selectedIndex===2 ? 'url(./assets/bg_pattern.jpg)':stepper.selectedIndex===3 ? 'url(./assets/3rd.png)':stepper.selectedIndex===4 ? 'url(./assets/lastpage1.png)':null"
>
<!-- <div *ngIf="!activationstatus" [ngClass]="stepper.selectedIndex===0 ? 'firtStep supplierRegestration':stepper.selectedIndex===1 ? 'firtStep supplierRegestration':stepper.selectedIndex===2 ? 'firtStep supplierRegestration':stepper.selectedIndex===3 ? 'firtStep supplierRegestration':stepper.selectedIndex===4 ? 'firtStep supplierRegestration':'supplierRegestration far-section'"
[style.backgroundImage]="stepper.selectedIndex===0 ? 'url(../../../../../assets/img2.JPG)':stepper.selectedIndex===1 ? 'url(../../../../../assets/bg_pattern.jpg)':stepper.selectedIndex===2 ? 'url(../../../../../assets/bg_pattern.jpg)':stepper.selectedIndex===3 ? 'url(../../../../../assets/3rd.png)':stepper.selectedIndex===4 ? 'url(../../../../../assets/lastpage1.png)':null"
> -->
    <mat-horizontal-stepper linear [labelPosition]="'bottom'" #stepper>
    <!-- <mat-step label="Identification" state="perm_identity" [completed]="complete" > -->
      <mat-step label="Identification" state="perm_identity"  >
    <ng-template matStepContent>
          <app-Identification [Additional_Details]="Additional_Details" (childEvent)="status=$event"></app-Identification>
      <div class="gstin-step-buttons">
        <div class="step_buttons">
          <button mat-raised-button color="primary" matStepperNext [disabled]="status" (click)="firstpage()">Next</button>
          <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->
          <!-- <button class="btn-curve" matStepperNext [disabled]="status" (click)="firstpage()">
            <span class="btn-txt">Next</span>
            <span class="btn-bg"></span>
            <img class="btn-img" src="next.png" alt="">
        </button> -->
        </div>
      </div>
    </ng-template>
  </mat-step>
  <!-- <mat-step label="Contact information" state="favorite" [completed]="complete1"> -->
    <mat-step label="Contact information" state="favorite" >
    <ng-template matStepContent> 
      <form [formGroup]="Additional_Details">
        <app-Contactinformation [Additional_Details]="Additional_Details" (childEvent)="status1=$event"></app-Contactinformation>
        <div class='gstin-step-buttons'>
          <div class="step_buttons">
            <button mat-raised-button class='btn' (click)="back()" class="btn backbtn BckCompanydet" matStepperPrevious>
              Back
            </button>
            <!-- status1 -->
            <button mat-raised-button class='btn' color='primary' type="submit" [disabled]="!(f.verifiedMail.value && (f.mobileNumber.valid &&f.email.valid &&f.firstName.valid &&f.lastName.valid ))"  matStepperNext>
              Next
            </button>
            <button mat-raised-button class="btn Cancle-btn" (click)="cancelbtn()">
              Cancel
            </button>
            <button mat-raised-button class="btn save-btn" (click)="savedata()">
              Save
            </button>
            <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->
          </div>
        </div>
      </form>
    </ng-template>
  </mat-step>
  <!-- <mat-step label="Additional Details" state="description" [completed]="complete2"> -->
    <mat-step label="Additional Details" state="description" >
    <form [formGroup]="Additional_Details" (ngSubmit)="submited(Additional_Details.value)">
      <app-AdditionalDetails1 [next]="next" [Additional_Details]="Additional_Details" [ONBOARDING_MASTER_DROPDOWN]="ONBOARDING_MASTER_DROPDOWN" ></app-AdditionalDetails1>
      <div class="clearfix"></div>
      <div class='gstin-step-buttons'>
        <div class="step_buttons">
          <button mat-raised-button class="btn backbtn BckCompanydet" *ngIf="next>1" (click)="backpage()">
            Back
          </button>
          <button mat-raised-button  class="btn backbtn BckCompanydet"  *ngIf="next==1" matStepperPrevious>
            Back
          </button>
          <!-- <*ngIf> -->
          <!-- <button mat-raised-button class="btn" color='primary' type="submit" [disabled]="!(next<3 && (f.lineOfBusiness.valid &&  f.salesEnquiryEmailId.valid && f.incorporationYear.valid && f.annualTurnover.valid && f.companySize.valid && f.companyDetail.valid &&  f.keyProductCategories.valid && f.industriesServiced.valid &&  f.standardPaymentTerms.valid &&  f.reportingCurrency.valid && f.companyWebsite.valid && f.averageDailyInvoices.valid  &&f.msmeRegistered.valid  ))" (click)="nextpage()"> -->
            <button mat-raised-button class="btn" color='primary' type="submit" *ngIf="next<3" [disabled]="!(f.lineOfBusiness.valid && f.incorporationYear.valid && f.annualTurnover.valid && f.companySize.valid &&  f.keyProductCategories.valid && f.industriesServiced.valid &&  f.standardPaymentTerms.valid &&  f.reportingCurrency.valid )" (click)="nextpage()">
            Next
          </button>
          <button mat-raised-button class="btn" color='primary' type="submit" *ngIf="next==3" [disabled]="!this.Additional_Details.value.canEnableAdditionalDetailsNext == true" matStepperNext>
            Next
          </button>
          <button mat-raised-button class="btn Cancle-btn" (click)="cancelbtn()">
            Cancel
          </button>
          <button mat-raised-button class="btn save-btn" (click)="savedata()">
            Save
          </button>
          <!-- <button mat-raised-button color="primary"  (click)="nextpage()" >Next</button>
          <button mat-raised-button color="primary"  matStepperNext>Next</button> -->
        </div>
      </div>
  
  
    </form>
  </mat-step>
  
  <mat-step label="Activation" state="work">
      <app-activation [Additional_Details]="Additional_Details" (childEvent)="activationstatus=$event" ></app-activation>
      <div class='gstin-step-buttons'>
        <!-- <div class="step_buttons">
          <button mat-raised-button matStepperNext class="btn" color='primary'  [disabled]="!( activationstatus && f.userName.valid &&  f.Password.valid && f.dty.valid && !Additional_Details.errors?.misMatch)">Next</button>
        </div> -->
        <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->
      </div>
  </mat-step>
  
  <mat-step label="Completion" state="done_outline">
    <app-completion [Additional_Details]="Additional_Details"></app-completion>
    <div class='gstin-step-buttons'>
      <div class="step_buttons">
        <!-- <button mat-button matStepperPrevious>Back</button> -->
      </div>
    </div>
  </mat-step>
  
  <ng-template matStepperIcon="perm_identity" >
  <mat-icon >perm_identity</mat-icon>
  </ng-template>
  
  
  <ng-template matStepperIcon="edit" >
  <mat-icon>drive_file_rename_outline</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done" >
  <mat-icon>verified</mat-icon>
  </ng-template>
  
  
  <ng-template matStepperIcon="favorite" >
  <!-- <mat-icon >contact_mail</mat-icon> -->
  <!-- <img src="../../../../../assets/contact-book.png" style="height: 38px;"/> -->
  <img src="./assets/contact-book.png" style="height: 38px;"/>
  <!-- <img src="https://image.flaticon.com/icons/png/512/942/942799.png" style="height: 31px"/> -->
  
  </ng-template>
  <ng-template matStepperIcon="description" >
  <!-- <mat-icon >description</mat-icon> -->
  <!-- <img src="https://img.icons8.com/ios/50/000000/edit-column.png"/> -->
  <!-- <img src="../../../../../assets/resume.png" style="height: 32px;margin-left: 3px;"/> -->
  <img src="./assets/resume.png" style="height: 32px;margin-left: 3px;"/>
  </ng-template>
  <ng-template matStepperIcon="work"  >
  <!-- <mat-icon>settings</mat-icon> -->
  <!-- <img src="https://img.icons8.com/material-outlined/24/000000/ok--v1.png"/> -->
  <!-- <img src="../../../../../assets/settings.png" style="margin-left: 3px;"/> -->
  <img src="./assets/settings.png" style="margin-left: 3px;"/>
  <!-- <span class="material-icons-outlined">
    settings
    </span> -->
  </ng-template>
  <ng-template matStepperIcon="done_outline" >
  <!-- <mat-icon>done_outline</mat-icon> -->
  <!-- <img src="https://img.icons8.com/ios/50/000000/ok--v1.png"/> -->
  <!-- <img src="../../../../../assets/tick.png" style="margin-left: 3px;"/> -->
  <img src="./assets/tick.png" style="margin-left: 3px;"/>
  </ng-template>
  
  </mat-horizontal-stepper>
  
</div>
<div *ngIf="activationstatus" class="fourStep supplierRegestration" style="background: url(./assets/lastpage1.png);">
  <app-completion [Additional_Details]="Additional_Details"></app-completion>
  <!-- <app-activation [Additional_Details]="Additional_Details" (childEvent)="activationstatus=$event" ></app-activation> -->
</div>
  